name: tests

on:
    push:
        branches:
            - "**"
    pull_request:
        types: [ ready_for_review, synchronize, opened ]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: true
            matrix:
                php: [ 8.0, 8.1 ]
                laravel: [ 8.*, 9.* ]

        name: PHP:${{ matrix.php }} / Laravel:${{ matrix.laravel }}(${{ matrix.stability }})

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd
                    tools: composer:v2
                    coverage: none

            -   name: Install dependencies
                run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update --dev
                    composer update --prefer-dist --no-interaction --no-progress

            -   name: Execute tests
                run: vendor/bin/phpunit --verbose
